/*----------------------------------------------------
	CSS Reset
------------------------------------------------------*/
@font-face {
    font-family: "Metropolis";
    src:  url("../fonts/Metropolis-Regular.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    cursor: default;
    font-family: 'Metropolis', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
body {
	color:#8c9099;
    font-family: 'Century Gothic';
	font-weight: 400;
	position:relative;
	
	width:100%;
	height:100%;
	overflow: scroll;
	overflow-x: hidden;
  
   
}
a {
	text-decoration:none;
	color:#fff;
	outline:none;
}
img {
	max-width:100%;
}

html {
  touch-action: manipulation;
}

.dex
    {
        font-size: 45px; 
        color: white;
        margin-top:50px
   
}

@media (max-width:320px) {
    .dex
    {
        font-size: 40px; 
        color: white;
        margin-top:50px
}


}

.dex1
    {
        font-size: 45px; 
        color: white;
        margin-top:45px
        
}

@media (max-width:450px) {
    .dex1
    {
        font-size: 40px; 
        color: white;
        margin-top:20px
}


}

.dex2
    {
        font-size: 30px; 
       
        margin-top:15px
        
}

@media (max-width:320px) {
    .dex2
    {
        font-size: 20px;
        
        margin-top:10px;
        
}


}

@keyframes color-animation {
    0% {
       filter:hue-rotate(0deg);
    }
    50% {
       filter:hue-rotate(60deg);
    } 
    100% {
        filter:hue-rotate(0deg);
    } 
 }

 
@-webkit-keyframes zoomin {
    0% {
        transform: scale(1.5,1.5);
          opacity:0;
    }

    100% {
        transform: scale(1,1);
        opacity:1;
    }
}

@-webkit-keyframes zoomout {
    0% {
        transform: scale(1,1);
        opacity:1;
    }

    100% {
        transform: scale(1.5,1.5);
         opacity:0;
    }
}

@-webkit-keyframes pageOutFocusAnim {
    0% {
        transform: scale(1,1);
        opacity:1;
    }

    100% {
        transform: scale(0.8,0.8);
         opacity:0;
    }
}

    .pageOutfocus {
        transform: translate3d(0, 0, 0);
        -webkit-animation: pageOutFocusAnim 0.4s;
        transform: scale(0.5,0.5);
    }

.color_changeAnim {
   animation: color-animation 3s infinite linear alternate;
}

/*----------------------------------------------------
	Document Setup
------------------------------------------------------*/
.wrapper{
	width:100%;
}
.spHeight{
	padding-top:63px;
}
/*.container {
	max-width: 940px;
}*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db;  /*Blue*/ 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left:auto;
    margin-right:auto;
    display:none
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popup {
    width:300px;
    min-height: 150px;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-right:auto;   
    margin-left:auto;   
}

.theme_bg{
    background-color:#0078D7;
}

.bg_main {
    width: 100%;
    height: 100%;
    position: fixed;
}

.zoomin{
 transform: translate3d(0, 0, 0);
    -webkit-animation: zoomin 0.4s;
    transform: scale(1,1);
}

.zoomout{
 transform: translate3d(0, 0, 0);
    -webkit-animation: zoomout 0.4s;
    transform: scale(1.5,1.5);
     opacity:0;
}

.noMar{
	margin:0 !important;
}
.noPadd{
	padding:0px !important;
}

#screenguard{
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.52);
    display:none;
    position:absolute;
    left:0;
    top:0;
}

.page{
    width:100%;
    height:100%;
    z-index:1100;
    position:fixed;
    top:0;
    right:0px;
    -webkit-animation-duration: .5s!important;
    display:none;
}



.dashList{
   height:77vh;
   padding:10px 15px 25px 15px;
   display:none;
   margin-top:160px;
}

.cardList{
   height:77vh;
   padding:10px 15px 10px 15px;
  
  
}
.coinInfo {
      
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom:30px;
        width: 100vw;
        height: 85vh;
        background-color: white;
      
        overflow-y: auto;
    }

.graphsDetails{
    max-width:100%;
    max-width:850px;
    min-height:165px;
    display:none;
    margin:0 auto 0 auto;   
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
}

.graphsDetails_hr{
   
}

.graphsDetails p{
   margin:0;
}

.btcGraphs{
    max-width:100%;
    max-width:850px;
    height:420px;
    display:block;
    margin:0 auto 0 auto;   
}
.btcGraphs .btcGraphs_closeBtn{ 
    display:none;   
}

.dashListItem {
    width: 100%;
    height: 100px;
    background: linear-gradient(30deg, rgb(12, 117, 247), rgb(0, 191, 156));
    -webkit-background-clip: border;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align:left;
    transition:.5s;
}
.dashListItem i {
    font-size: 49px;
    padding-left: 19px;
    padding-top: 22px;
}


.cardListItem {
    width: 100%;
    height: 100px;
    background: linear-gradient(30deg, rgb(12, 117, 247), rgb(0, 191, 156));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align:left;
    transition:.5s;
    border: 1px solid rgb(0, 191, 156);
}
.cardListItem i {
    font-size: 49px;
    padding-left: 19px;
    padding-top: 22px;
     background: linear-gradient(30deg, rgb(12, 117, 247), rgb(0, 191, 156));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.sidebar.page_menu {
    display: none;
}

.preloader{
    height:100vh;
    width:100%;

}

.page_bkg {
    width: 100%;
    height: 100%;
}

#svg_price_graph {
    /*top: 60%;
    left:50%;*/
    width:100%;
    height:60%;
    /*position:relative;
    -webkit-transform:translate3d(-50%,-50%,0);*/   
    background-color:#F5F5F5;
}
.line {
  stroke-dashoffset:0;
  box-shadow: 10px 10px 1px black;
}
.breakpoint{
  transform:scale(0);
  position:absolute;
  -webkit-transform-origin:50% 50%;
}
.active{
  transform:scale(1)
}

.page_menu {
    margin-top: 0px;
    position: fixed;
    z-index: 1200;
 
    left: 0px;
    right: 0px;
    margin-bottom: -100px;
    background-color:rgba(52, 152, 219, 1);
    height: 80px;
    padding-top: 35px;
    color:white;
    
}
.sidebar_menu_item{
    padding-top:25px;
    padding-bottom:15px;
    display:block;
    margin-bottom:20px;
}

.sidebar_menu_item_icon {
    text-align:center;

}
.dashItemDummy{
     width: 100%;
    height: 100px;
    background-color: white; 
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align:left;
    transition:.5s;
    display:none;
}

.feed_body{
    width:100%;
    height:100vh;
    background-color:rgba(255, 255, 255, 1);
    padding-top:90px;
    padding-left:15px;
    padding-right:15px;
    overflow:auto;
}

.tileTitle {
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0px;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 5px;
    padding-bottom: 6px;
    color:white;
    border-radius:5px
}


/*@import url(https://fonts.googleapis.com/css?family=Vibur);*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*font-family: arial;*/
}



@media (max-width:400px) {
    .sidebar{
   
    height:100%;
    z-index:1100;
    position:fixed;
    top:0;
    -webkit-animation-duration: .5s!important;
    display:none;
}


    .tiles_set{
     margin-bottom:16px;
    }

    .login-form {
  min-width: 250px;
  padding: 0px 15px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: auto;
   margin-right: auto;
   margin-top:10%;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  /*-moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);*/
  -webkit-transform: translateY(-40%);
  transform: translateY(-50%);
}
}

@media (min-width:401px) {
    .sidebar{
   
    height:100%;
    z-index:1100;
    position:fixed;
    top:0;
    -webkit-animation-duration: .5s!important;
    display:none;
}




    .tiles_set{        
         margin-bottom:16px;
         min-height:117px;
    }

       .login-form {
  max-width: 350px;
  padding: 0px 30px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: auto;
   margin-right: auto;
   margin-top:100px;
  position: absolute;
  left: 0;
  right: 0;
 
  /*-moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);*/
 
}

}

 .sidebar-off{
   
    height:100%;
    z-index:1100;
    position:fixed;
    top:0;
    -webkit-animation-duration: .5s!important;
    display:none;
}
.sidebar .page_menu_title{ 
   display:inline-block;
}
.sidebar .page_menu_title:after{ 
    content: '';
}

.sidebaLogo {
    width: 180px;
    position: absolute;
    left: 16%;
    margin-top: 14px;
}

@media (min-width:600px) {
    .sidebar{
   
    height:100%;
    z-index:1100;
    position:fixed;
    top:0;
    -webkit-animation-duration: .5s!important;
    display:block;
}

  .sidebaLogo {
   display:none;
}



    .sidebar .page_menu_title{ 
   
}
    .sidebar .page_menu_title:after{ 
    content: 'CoinCrypt';
}
    .sidebar .page_menu_btns{ 
    display:none;
}
        .tiles_set{          
        margin-left:5px;
        margin-right:5px;
         margin-bottom:16px;
         display:inline-block;
          min-height:117px;
          word-wrap:break-word;
    }


}
.dash_temp{
        
    }

@media (min-width:600px) {
    .dash_temp{
         width: 117%; 
    }

}

@media (min-width:999px) {
    .dash_temp{
         width: 128%; 
    }

}

.form-group-main {
    width:90%;
    margin-left:auto;
    margin-right:auto;
  
  margin-bottom: 15px;
}

.form-control-main {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
 
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}

.form-group-main .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}

.log-status.wrong-entry {
  -moz-animation: wrong-log 0.3s;
  -webkit-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}

.log-btn {
  background: #FFB900;
  display: block;
  margin-left:auto;
margin-right:auto;
  width: 89%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.new-acct-btn {
    background: #0078D7;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    text-decoration: none;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.cancel-signup-btn {
    background: rgba(0, 120, 215, 0);
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    text-decoration: none;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.link {
  text-decoration: none;
  color: #C6C6C6;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}

.alert {
  display: none;
  font-size: 12px;
  color: #f00;
  float: left;
}

@-moz-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}
@-webkit-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}
@keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}

